# Game files
gameFiles/
LoE-Windows_Data/
ManagedBackup/
disunity/
LoE_PrivateServer.exe
LoE - Ohayocon 2014 - w_x86/
LoE - Ohayocon 2014 - Windows x64_fixed/
LoE-Windows_86 2014 Babscon RC1/
LoE-Windows_64 2014 Babscon RC2/

# Release files
PrivateServ-linux-x86/
PrivateServ-x86/
PrivateServ-x64/
PrivateServer/

# Build files
release/
debug/
LoE_PrivateServer
LoE_PrivateServer.exe
PrivateServ/
PrivateServ-upx/
*.o
*.exe
libstdc++-6.dll
Makefile*
.fuse_hidden*
object_script.LoE_PrivateServer.Debug
object_script.LoE_PrivateServer.Release
moc_*
ui_widget.h

# My saves
data/players/

# HTML
moreInfos/npcs
moreInfos/wiki

# User files
*.user
*.user.*

# Archives
*.zip
*.7z
