# Game files
gameFiles/
LoE-Windows_Data/
ManagedBackup/
disunity_v0.2.1/
LoE_PrivateServer.exe
LoE - Ohayocon 2014 - w_x86/
LoE - Ohayocon 2014 - Windows x64_fixed/


# Release files
PrivateServ-linux-x86/
PrivateServ-x86/
PrivateServ-x64/

# Build files
release/
debug/
LoE_PrivateServer
LoE_PrivateServer.exe
PrivateServ/
PrivateServ-upx/
*.o
*.exe
libstdc++-6.dll
Makefile*
.fuse_hidden*
object_script.LoE_PrivateServer.Debug
object_script.LoE_PrivateServer.Release

# My saves
data/players/

# User files
*.user
*.user.*

# Archives
*.zip
*.7z
